#RestaurantQuaiAntiqueBackOffice{
    position : relative;
    padding: 10px;
}

#RestaurantQuaiAntiqueBackOffice form{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

#RestaurantQuaiAntiqueBackOffice form .btn{
    padding: 20px 10px;
}

.mHover{
    cursor: pointer;
}

.hide{
    display: none;
}

.elf {
    display: inline-block;
    margin: 10px 7px;
    flex-grow: 2;
}

button[type="submit"]{
    margin: 10px 7px;
}

.ctn-elf-inlb {
    display: inline-block;
}

.elf-block {
    display: block;
}

.elf label {
    display: inline-block;
    color: darkgrey;
    font-size: 10px;
}

.elf label:first-letter {
    text-transform: uppercase;
}
.elf input,
.elf select{
    display: block;
    width: 100%;
}

.info{
    color:  #906427;
    font-style: italic;
}
.error{
    color: darkred;
}

.success{
    color: darkgreen;
}

.backOfficeSection-menu .dashicons.dashicons-action {
    padding: 0 5px;
    margin: 0 20px
}

/* GENERAL BACKOFFICE */
tr input,
tr select,
tr textarea{
    width: 100%;
}
.tabBackOffice{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    margin: 0 5px;
    display: inline-block;
    background: #b6ac97;
    margin-bottom: 20px;
}
.tabBackOffice.active,
.tabBackOffice:hover{
    background: #906427;
    color: white;
}

.tabBackOffice.hide{
    display: none;
}

.errorField{
    color: darkred;
}
/* FIN GENERAL BACKOFFICE */

/* MENUS & DISH TYPE & DISH */
#txtDescFoodDish,
#txtDescOption{
    display: block;
    width: 100%;
}
/* Fomr add dish */


/* Form add option menu & add dish type */
#elfDescOption,
#elfTxtDescFoodDish{
    flex-grow: 4;
    flex-shrink: 1;
}
#elfTitleOption,
#tdInpTitleFoodDish{
    flex-grow: 2;
    flex-shrink: 1;
}
#tblEditOptionMenu,
#tblEditFoodDish{
    width: 100%;
}

/* Update option menu */
.tdTxtDescUpMenuOption,
.tdTxtDescUpFoodDish{
    flex-grow: 6;
    flex-shrink: 2;
}

.tdInpTitleUpMenuOption,
.tdInpTitleUpFoodDish{
    flex-grow: 2;
}

#tblOpeningTime{
    width: 100%;
}
/* ONPENING TIME */




/* FIN OPENING TIME */
@media only screen and (max-width: 1000px){
    #tblEditOptionMenu tr,
    #tblEditFoodDish tr,
    #tblGallery tr,
    #tblOpeningTime tr{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: stretch;
    }

    #tblEditOptionMenu tr button,
    #tblOpeningTime tr button,
    #tblEditFoodDish tr button{
        margin-top: 20px;
        height: 40px;
        width: 100%;
    }


    form#formAddDish{
        flex-direction: column;
        align-items: stretch;
    }

    #formAddDish btn{
        height: 50px;
    }
}
/* FIN MENUS & DISH TYPE & DISH */

/* FORM GUEST MAX */
#formGuestMax .form-table{
    width: unset;
}
#formGuestMax .form-table th[scope=row]{
    display: none;
}

/* FORM GUEST MAX */

/* GALLERY */
#formAddImgMedia .elf{
    flex-grow: 0;

}
#ctnImgChoice .body{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: auto;

}
.ctnItemImgChoice{
    margin-right: 10px;
    margin-bottom: 10px;
}

#imgChoiceWrapper{
    position: fixed;
    top: 75px;
    left: 50%;

    transform: translateX(-50%);
    background: white;
    box-shadow: 2px 2px 6px grey;
    padding: 20px;
    z-index: 2;
}

#ctnImgChoice .ctnItemImgChoice,
.ctnImgChoosed{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: solid 1px darkgrey;
    background: white;

}


#ctnImgChoice .ctnItemImgChoice:hover{
    background: rgba(173, 216, 230, 0.57);
}

#ctnImgChoice .imgChoiceGallery,
.imgChoosed{
    max-width: 100%;
    max-height: 100%;
}

#tblGallery{

}

#overlayGallery{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.90);
    height: 100%;
    width: 100%;
}

.ctnImgChoice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnImgChoice{
    height: 40px;
    margin-left: 15px;
}

#tblGallery textarea{
    height: 35px;
}
/* FIN GALLERY */


@media only screen and (max-width: 800px){

    #ctnImgChoice .body{
        height: 70vh;
    }

    #imgChoiceWrapper{
        top: 50px;
        width: 80%;
    }
/*
    A voir pour mettre en sticky
    #ctnTabBackOffice {
        position: fixed;
        top: 40px;
        background: lightgrey;
        padding: 10px;
        width: 100%;
        left: 0;


    }*/

}

